{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}
    <main class="flex-1 container-register-form grid grid-cols-12">
        <section class="left-aside grid-cols-1">
        </section>

        <section class="col-start-2 col-end-13 flex flex-col items-center justify-center py-8">
            <h1 class="text-stroke custom-h1 md:mb-6">Connexion</h1>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="POST">
                <div class="grid gap-2">
                    <div class="flex">
                        <label for="inputEmail"></label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus class="rounded-full md:my-3" placeholder="E-mail">
                    </div>

                    <div class="flex">
                        <label for="inputPassword"></label>
                        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required class="rounded-full md:my-3" placeholder="Mot de passe">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div class="flex justify-center md:my-3">
                        <button class="btn rounded-full px-10 py-2 font-semibold" type="submit">
                            Envoyer
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <a href="/inscription" class="text-lg">Pas encore de compte ?</a>
            </div>
        </section>
    </main>
{% endblock %}
