{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form(registrationForm) }}

        <button type="submit" class="btn">Je m'inscris</button>
{% endblock %}
