{% block styles_dashboard %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

<footer class="md:h-28 ">
    <div class="h-12  md:h-28 min-h-full"></div>
</footer>