{% block styles_dashboard %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

<header class="h-28">
<a href="/dashboard"><img src="{{ asset("assets/img/Logo_StockMinder.png") }}" alt="Logo StockMinder" class="logo md:ml-40 py-2"></a>
</header>