<div class="sm:h-11 lg:w-lg lg:h-16 lg:flex lg:items-center overflow-x-auto nav z-10 bg-dun">
    <nav class="sm:h-11 flex items-center">
        <ul class="list-none ml-3.5 uppercase text-base inline whitespace-nowrap lg:text-xl">
            <li class="inline-block px-4 category-link py-1"><a class="" href="#blondes">bières blondes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#brunes">bières brunes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#blanches">bières blanches</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#ambrees">bières ambrées</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#fruitees">bières fruitées</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#sansAlcool">bières sans alcools</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#softs">softs</a></li>
        </ul>
    </nav>



</div>
