<div class="overflow-x-auto nav">
    <nav class="h-11 flex items-center">
        <ul class="list-none ml-3.5 uppercase text-base inline whitespace-nowrap">
            <li class="inline-block px-4 category-link py-1"><a class="" href="#">bières blondes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#">bières brunes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#">bières blanches</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#">bières ambrées</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#">bières blondes</a></li>
        </ul>
    </nav>
</div>
<!-- menu filter & search bar -->