<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Carte</title>
</head>

<body>
<header class="h-24">
    <div class="flex items-center justify-between">
        <img class="logo ml-3.5 my-3 " src="./assets/img/Logo_Bar.png" alt="logo cheers and beers">
        <h1 class="custom-h1 capitalize mx-auto">cheers & beers</h1>
    </div>
</header>
<main>
    <div class="overflow-x-auto nav">
        <nav class="h-11 flex items-center">
            <ul class="list-none ml-3.5 uppercase text-base inline whitespace-nowrap">
                <li class="inline-block px-4 category-link py-1"><a class="" href="#">bières blondes</a></li>
                <li class="inline-block px-4 category-link py-1"><a href="#">bières brunes</a></li>
                <li class="inline-block px-4 category-link py-1"><a href="#">bières blanches</a></li>
                <li class="inline-block px-4 category-link py-1"><a href="#">bières ambrées</a></li>
                <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#">bières blondes</a></li>
            </ul>
        </nav>
        <!-- menu filter & search bar -->

    </div>







