<header class="sm:h-24, lg:h-44 lg:w-lg lg:mx-auto">
    <div class="sm:h-24, lg:h-44 lg:w-lg lg:mx-auto flex items-center justify-between">
        <img class=" ml-3.5 my-3 sm:h-16 sm:w-16 lg:h-36 lg:w-36 " src="./assets/img/Logo_Bar.png" alt="logo cheers and beers">
        <h1 class="custom-size-h1 capitalize mx-auto">cheers & beers</h1>
    </div>
</header>







