<header class="h-24">
    <div class="flex items-center justify-between">
        <img class="logo ml-3.5 my-3 " src="./assets/img/Logo_Bar.png" alt="logo cheers and beers">
        <h1 class="custom-size-h1 capitalize mx-auto">cheers & beers</h1>
    </div>
</header>







