<footer class="my-menu-footer pt-5 pb-3 lg:w-lg lg:mx-auto">
    <div class="grid grid-cols-2">
        <div>
            <h3 class="capitalize text-center text-xs lg:text-4xl">suivez-nous</h3>
            <div class="flex justify-center px-4">
                <img class=" h-7 w-7 mt-2.5 lg:h-12 lg:w-12" src="{{ asset('assets/img/Facebook.svg') }}" alt="">
                <img class="h-7 w-7 mx-2 mt-2.5 lg:h-12 lg:w-12" src="{{ asset('assets/img/Twitter.svg') }}" alt="">
                <img class ="h-7 w-7 mt-2.5 lg:h-12 lg:w-12" src="{{ asset('assets/img/Instagram.svg') }}" alt="">
            </div>
        </div>

        <div>
            <h1 class="text-center capitalize text-xl custom-h1 lg:text-4xl">cheers & beers</h1>
            <p class="text-center capitalize text-xs lg:text-xl">155 rue du dirigeable</p>
            <p class="text-center capitalize text-xs lg:text-xl">13400 aubagne</p>
        </div>
    </div>
    <div>
        {% if route is defined and route == "vente" %}
            <a href="/logout"><img src=" {{ asset("assets/img/logout-persian-orange.png") }}" class="fixed w-6 h-6 left-3 bottom-8" title="Déconnexion"></a>
        {% endif %}
        <p class="text-center text-xs pt-3 lg:text-xl">© Copyright | All rights reserved</p>
    </div>
</footer>