<footer class="my-menu-footer pt-5 pb-3">
    <div class="grid grid-cols-2">
        <div>
            <h3 class="capitalize text-center text-xs">suivez-nous</h3>
            <div class="flex justify-center px-4">
                <img class=" h-7 w-7 mt-2.5" src="{{ asset('assets/img/Facebook.svg') }}" alt="">
                <img class="h-7 w-7 mx-2 mt-2.5" src="{{ asset('assets/img/Twitter.svg') }}" alt="">
                <img class ="h-7 w-7 mt-2.5" src="{{ asset('assets/img/Instagram.svg') }}" alt="">
            </div>
        </div>

        <div>
            <h1 class="text-center capitalize text-xl custom-h1">cheers & beers</h1>
            <p class="text-center capitalize text-xs">155 rue du dirigeable</p>
            <p class="text-center capitalize text-xs">13400 aubagne</p>
        </div>
    </div>
    <div>
        <p class="text-center text-xs pt-3">© Copyright | All rights reserved</p>
    </div>
</footer>