<div class="h-11 overflow-x-auto nav z-40">
    <nav class="h-11 flex items-center">
        <ul class="list-none ml-3.5 uppercase text-base inline whitespace-nowrap">
            <li class="inline-block px-4 category-link py-1"><a class="" href="#blondes">bières blondes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#brunes">bières brunes</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#blanches">bières blanches</a></li>
            <li class="inline-block px-4 category-link py-1"><a href="#ambrees">bières ambrées</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#fruitees">bières fruitées</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#sansAlcool">bières sans alcools</a></li>
            <li class="inline-block px-4 category-link py-1 mr-3.5"><a href="#softs">softs</a></li>
        </ul>
    </nav>
</div>

<div class="my-cart-btn fixed right-0 mr-3 mt-3" onclick="cartModal(this)">
    <img src="{{ asset('assets/img/cart.svg') }}" alt="">
</div>

<script>
    let navBar = document.querySelector(".nav");
    let cart = document.querySelector(".my-cart-btn");

    window.addEventListener('scroll', function() {

        // Hauteur à partir de laquelle nous voulons détecter le défilement (96px)
        const scrollThreshold = 96;

        if (window.scrollY > scrollThreshold) {
            navBar.classList.add("fixed-nav");
            burger.classList.add("fixed-menu");
            menu.classList.add("fixed-menu");
            cart.classList.add("fixed-menu");

        } else {
            navBar.classList.remove("fixed-nav");
            burger.classList.remove("fixed-menu");
            menu.classList.remove("fixed-menu");
            cart.classList.remove("fixed-menu");
        }
    });
</script>