<div class="my-cart-btn fixed right-0 mr-3 mt-3" onclick="openCartModal(this)">
    <img src="{{ asset('assets/img/cart.svg') }}" alt="">
</div>


<!-- cart modal---------------------------------------------------------------------------------------------------------------------------------- -->
<div class="my-cart-modal grid grid-cols-2 overflow-y-auto" id="modal" data-companyId= {{ companyId }}>
    <div class="my-hidden z-10 w-full mx-auto p-2" id="cartModal" aria-labelledby="panier"
         role="dialog"
         aria-modal="true">
        <div class="z-40 col-start-1 col-end-2 items-center transform rounded-xl my-modal-border text-center shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="my-modal-products px-4 p-2 rounded-md">
                <div class="flex justify-between">
                    <h2 class="text-lg">Panier</h2>
                    <img class="my-close-btn h-7 w-7 my-1" src="{{ asset('assets/img/close-cross.svg') }}"
                         onclick="closeCartModal(this)" alt="">
                </div>
                <div class="grid grid-cols-8">
                    <p class="col-start-1 col-end-3 flex items-center justify-center font-bold">Produit</p>
                    <p class="col-start-3 col-end-5 flex items-center justify-center font-bold">Prix unit.</p>
                    <p class="col-start-5 col-end-7 flex items-center justify-center font-bold">Quantité</p>
                    <p class="col-start-7 col-end-9 flex items-center justify-center font-bold">Total</p>
                </div>
                <div id="cartData" class="py-3">
                    <form action="/cart" method="post" class="flex flex-col" id="cartForm">
                        <!-- contenu du panier-->
                    </form>
                </div>
                <div class="flex justify-between pb-10 font-bold">
                    <p>Total panier:</p><span id="cartTotal">0 €</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end cart modal--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

