html {
    scroll-behavior: smooth;
}

/* Gestion du menu de filtrage */

.my-menu-container {
    position: fixed;
    background-color: rgb(238, 150, 94);
    color: var(--wine);
    font-family: deliusregular, serif, sans-serif;
    left: -12rem ;
}

.my-menu-container .my-button{
    background-color: var(--dutch-white);
    color: var(--wine);
    font-family: deliusregular, serif, sans-serif;
    left: -12rem ;
}

.menu-hidden {
    left: -12rem;
    transition: left 600ms ease;
}

.menu-visible {
    left:0;
    transition: left 600ms ease;
}

.burger-hidden {
    left: 0;
    transition: left 600ms ease;
}

.burger-visible {
    left: 12rem;
    transition: left 600ms ease;
}


.my-search-input {
    background-color: var(--dutch-white);
    color: var(--wine);
    font-family: deliusregular, serif, sans-serif;
}

select {
    background-image: url("/assets/img/up-arrow.svg");
    background-size: 20px 20px;
    background-position: right center;
    background-repeat: no-repeat;
}

select:focus {
    background-image: url("/assets/img/up-arrow.svg");
    background-size: 20px 20px;
    background-position: right center;
    background-repeat: no-repeat;
}

select:focus {
    background-image: url("/assets/img/down-arrow.svg");
}

.my-button {
    background-color: var(--dutch-white);
    box-shadow: 0px 6px 6px 0px rgb(39, 37, 37, 0.8);
}

.my-button:focus {
    background-color: var(--wine);
    color: var(--dutch-white);
    box-shadow: 0px 3px 3px 0px rgb(39, 37, 37, 0.8);
}

/* Fin gestion menu de filtrage */

.my-cart-button {
    background-color: var(--persian-orange);
    color: var(--wine);
    box-shadow: 0px 6px 6px 0px rgb(39, 37, 37, 0.8);
}

.my-cart-button:focus {
    background-color: var(--wine);
    color: var(--persian-orange);
    box-shadow: 0px 3px 3px 0px rgb(39, 37, 37, 0.8);
}

.my-product-data {
    font-family: deliusregular, serif, sans-serif;
}

.my-price {
    font-family: deliusregular, sefif, sans-serif;
}

.my-product-empty {
    color: var(--wine);
    font-family: rancho, serif, sans-serif;
}


/* Affichage des événements-------------------*/

.my-event-container {
    background-color: var(--raisin-black);
}

.my-event {
    background-color: var(--wine);
}
.my-event-container h2 {
    font-family: rancho, serif, sans-serif;
    color: var(--persian-orange);
    background-color: var(--raisin-black);
}

.my-event-container h3 {
    font-family: Calligraffitti, serif, sans-serif;
    color: var(--persian-orange);
}

.my-event-time{
    font-family: deliusregular, Serif, sans-serif;
    color: var(--dun);
}

.my-event-theme {
    font-family: deliusregular, Serif, sans-serif, Serif, sans-serif;
    color: var(--dun);
}

.my-event-container h4{
    font-family: deliusbold, Serif, sans-serif;
    color: var(--dun);
}

.my-event-description {
    color: var(--persian-orange);
    font-family: deliusregular, Serif, sans-serif;
}

/* carousel événements */
/* Ajouter ce style pour centrer horizontalement les flèches */
.my-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.my-indicators {
    list-style: none;
    padding: 0;
}

.my-indicator {
    background-color: var(--dun);
}

.my-indicator.active {
    background-color: var(--persian-orange);
}


/* Ajouter ce style pour positionner correctement les flèches */
.my-left-arrow {
    position: absolute;
    left: 0px;
    top: 108px;
}

.my-right-arrow {
    position: absolute;
    right: 0px;
    top: 108px;
}
/* fin carousel événements*/

/* Fin Affichage des événements-------------------*/


/* Affichage des produits-----------------------------------------------------------------*/
.my-product-card {
    font-family: deliusregular, sefif, serif, sans-serif;
}

/* Les blondes -------------------------------*/

.my-blondes h3{
    color: var(--wine);
}

.my-blondes {
    background-color: var(--dun);
    background-image: url("../img/back-logo-dun.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.my-blondes .my-product-card{
    color: var(--wine);
    border-bottom: dashed 1px var(--wine);

}

.my-blondes .my-product-card:last-child {
    border-bottom: none;
}


/* Les brunes -------------------------------*/

.my-brunes h3{
    color: var(--dutch-white);
}

.my-brunes{
    background-color: var(--raisin-black);
    background-image: url("../img/back-logo-raisin.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.my-brunes .my-product-card{
    color: var(--dutch-white);
    border-bottom: dashed 1px var(--dun);
}

.my-brunes .my-product-card:last-child {
    border-bottom: none;
}

/* Les blanches -------------------------------*/

.my-blanches h3{
    color: var(--raisin-black);
}

.my-blanches{
    background-color: var(--dutch-white);
    background-image: url("../img/back-logo-dutch.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.my-blanches .my-product-card{
    color: var(--raisin-black);
    border-bottom: dashed 1px var(--raisin-black);
}


.my-blanches .my-product-card:last-child {
    border-bottom: none;
}

/* Les ambrees -------------------------------*/

.my-ambrees h3{
    color: var(--dun);
}

.my-ambrees{
    background-color: var(--wine);
    background-image: url("../img/back-logo-wine.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.my-ambrees .my-product-card{
    color: var(--dun);
    border-bottom: dashed 1px var(--dun);
}

.my-ambrees .my-product-card:last-child {
    border-bottom: none;
}

/* Les fruitees -------------------------------*/

.my-fruitees h3{
    color: var(--wine);
}

.my-fruitees{
    background-color: var(--dun);
    background-image: url("../img/back-logo-dun.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.my-fruitees .my-product-card{
    color: var(--wine);
    border-bottom: dashed 1px var(--wine);
}


.my-fruitees .my-product-card:last-child {
    border-bottom: none;
}


/* Les sans alcool -------------------------------*/

/*style identique à Les brunes*/

/* Fin Affichage des produits-----------------------------------------------------------------*/


@media screen and (min-width: 1024px) {
    /* Gestion du menu de filtrage */

    .my-menu-container {
        display: flex;
        background-color: var(--dutch-white);
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        position: initial;
        align-items: center;
        border-radius: 0;
        padding: 0;
    }

    #searchTermForm {
        background-color: var(--persian-orange);
        padding: 5px;
        border-radius: 20px;
        width: 180px ;
        margin-left: 15px;
    }

    .my-form-btn {
        margin-left: 8%;
    }

    .my-menu {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .menu-hidden {

    }

    .my-filter-fields select {
        background-color: var(--persian-orange);
        margin-left: 15px;
        border-radius: 20px;
        width: 120px;
        padding-right: 15px;

    }

    .menu-visible {
        left:50px;
        transition: none;
    }

    /* Fin gestion menu de filtrage */
}

