@font-face {
    font-family: Calligraffitti;
    src: url(../fonts/Calligraffitti-Regular.ttf); /* titres h1 */
}

@font-face {
    font-family: deliusregular;
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: deliusunicregular;
    src: url(../fonts/DeliusUnicase-Regular.ttf);
}

@font-face {
    font-family: deliusunicbold;
    src: url(../fonts/DeliusUnicase-Bold.ttf);
}

@font-face {
    font-family: rancho;
    src: url(../fonts/Rancho-Regular.ttf);
}

:root {
    --raisin-black: rgb(39, 37, 37);
    --persian-orange:rgb(240, 142, 69);
    --dutch-white: rgb(244, 230, 195);
    --dun: rgb(219, 204, 168);
    --wine: rgb(91, 38, 47);
}

header {
    background-color: var(--wine);
    height: 100px;
}

.logo {
    width: auto;
    height: 100px;
}

.container-register-form {
    background-color: var(--dutch-white);
}

.custom-h1 {
    font-size: 32px;
}

.left-aside {
    background-color: var(--wine);
}

footer div {
    background-color: var(--wine);
}

.btn {
    background-color: var(--persian-orange);
    border: 1px solid  var(--raisin-black);
}


.text-stroke {
    -webkit-text-stroke-width: 0.1px;
}

.dashFormBg {
    background-color: var(--dun);
}

.activTab {
    background-color: var(--persian-orange);
}

th, td{
    width: 200px;
}
