@font-face {
    font-family: Calligraffitti;
    src: url(../fonts/Calligraffitti-Regular.ttf); /* titres h1 */
}

@font-face {
    font-family: deliusregular;
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: deliusunicregular;
    src: url(../fonts/DeliusUnicase-Regular.ttf);
}

@font-face {
    font-family: deliusunicbold;
    src: url(../fonts/DeliusUnicase-Bold.ttf);
}

@font-face {
    font-family: rancho;
    src: url(../fonts/Rancho-Regular.ttf);
}

:root {
    --raisin-black: rgb(39, 37, 37);
    --persian-orange:rgb(240, 142, 69);
    --dutch-white: rgb(244, 230, 195);
    --dun: rgb(219, 204, 168);
    --wine: rgb(91, 38, 47);
}


body {
    margin: 0;
}

/*header------------------------------------*/

header {
    background-color: var(--raisin-black)
}

.logo {
    width: 72px;
    height: 72px;
}

h1 {
    font-family: Calligraffitti, serif, sans-serif;
    color: var(--persian-orange);
    /*Persian Orange*/
    -webkit-text-stroke-width: 1px;
    /* Largeur du contour */
    -webkit-text-stroke-color: var(--raisin-black);
    /* Couleur du contour */
    text-shadow: -1px -1px 2px rgb(39, 37, 37, 0.5);
}

.custom-h1 {
    font-size: 42px;
}

/*header end------------------------------------*/

/*nav------------------------------------------*/

.nav {
    position: relative;
    background-color: var(--dutch-white) ;
    font-family: rancho, serif, sans-serif;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.category-link:hover {
    background-color: var(--raisin-black);
    color: var(--dutch-white) ;
    border-radius: 18px;

}

/*nav end------------------------------------------*/

/*main------------------------------------------*/

h2 {
    font-family: rancho, serif, sans-serif;
    color: var(--wine);
    background-color: var(--dun);
}

h3 {
    font-family: rancho, serif, sans-serif;
}

/* Les blondes -------------------------------*/

.my-blondes h3{
    color: var(--wine);
}

.my-blondes {
    background-color: var(--dun);
}

.my-blondes .my-product-card{
    color: var(--wine);
}

/* Les brunes -------------------------------*/

.my-brunes h3{
    color: var(--dun);
}

.my-brunes{
    background-color: var(--raisin-black);
}

.my-brunes .my-product-card{
    color: var(--dun);
}

/* Les blanches -------------------------------*/

