@font-face {
    font-family: Calligraffitti;
    src: url(../fonts/Calligraffitti-Regular.ttf); /* titres h1 */
}

@font-face {
    font-family: deliusregular;
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: deliusunicregular;
    src: url(../fonts/DeliusUnicase-Regular.ttf);
}

@font-face {
    font-family: deliusunicbold;
    src: url(../fonts/DeliusUnicase-Bold.ttf);
}

@font-face {
    font-family: rancho;
    src: url(../fonts/Rancho-Regular.ttf);
}

:root {
    --raisin-black: rgb(39, 37, 37);
    --persian-orange: rgb(240, 142, 69);
    --dutch-white: rgb(244, 230, 195);
    --dun: rgb(219, 204, 168);
    --wine: rgb(91, 38, 47);
}

body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: var(--raisin-black)
}

.logo {
    width: 72px;
    height: 72px;
}

h1 {
    font-family: Calligraffitti, serif, sans-serif;
    color: var(--persian-orange);
    /*Persian Orange*/
    -webkit-text-stroke-width: 0.5px;
    /* Largeur du contour */
    -webkit-text-stroke-color: var(--raisin-black);
    /* Couleur du contour */
    text-shadow: -1px -1px 2px rgb(39, 37, 37, 0.5);
}

.custom-size-h1 {
    font-size: 42px;
}

.nav {
    position: relative;
    background-color: var(--dutch-white);
    font-family: rancho, serif, sans-serif;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-menu {
    top: 2.75rem;
}

.fixed-cart {
    top: 0;
}


.category-link:hover {
    background-color: var(--raisin-black);
    color: var(--dutch-white);
    border-radius: 18px;

}

h2 {
    font-family: rancho, serif, sans-serif;
    color: var(--wine);
    background-color: var(--dun);
}

h3 {
    font-family: rancho, serif, sans-serif;
}

h4 {
    font-family: deliusunicbold, serif, sans-serif;
    font-size: 12px !important;
}

.text-stroke {
    -webkit-text-stroke-width: 0.3px;
}

.div-img {
    background-color: var(--dutch-white);
}

.div-img:active {
    background-color: var(--persian-orange);
}

.my-menu-legend {
    background-color: var(--raisin-black);
    color: var(--dutch-white);
}

.my-menu-footer {
    background-color: var(--wine);
    color: var(--dun);
    font-family: Calligraffitti, serif, sans-serif;
}

.my-menu-footer h3 {
    font-family: Calligraffitti, serif, sans-serif;
}



.my-invisible {
    display: none;
}

.my-minus, .my-plus {
    background-color: var(--persian-orange);
}

.my-quantity, .my-stock-value {
    background-color: var(--dutch-white);
    color: var(--wine);
    border: 2px solid var(--wine);
    font-family: rancho, serif, sans-serif;
}


/* info modale */



.my-info-modal {
    font-family: deliusregular, serif, sans-serif;
    color: var(--wine);
}

.my-info-modal h2, .my-info-modal h3{
    font-family: deliusunicbold, serif, sans-serif;
    background-color: var(--dutch-white);
}



.my-modal-description {
    background-color: var(--dutch-white);
}

.my-modal-border {
    border: 5px solid var(--persian-orange);
}

.my-active {
    display: block;
    position: fixed;
    top: 50%;
}

.my-hidden {
    display: none;
}


/* cart modal */

.cart-line {
    border-bottom: 1px solid var(--wine);
}


.my-cart-modal {
    font-family: deliusregular, serif, sans-serif;
    color: var(--wine);
}

.my-cart-modal h2, .my-cart-modal h3{
    font-family: deliusunicbold, serif, sans-serif;
    background-color: var(--dutch-white);
}


.my-modal-products {
    background-color: var(--dutch-white);
}

.my-modal-border {
    border: 5px solid var(--persian-orange);
}

.my-active {
    display: block;
    position: fixed;
    top: 50%;
}

.my-hidden {
    display: none;
}


