<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
            {% block styles_additionnels %}{% endblock %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body class="flex flex-col">
            {% block header %}
                {% include '/layouts/_header.html.twig' %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
                {% include '/layouts/_footer.html.twig' %}
            {% endblock %}

            <script src="{{ asset("assets/js/script.js") }}"></script>

            {% block scripts %}
            {% endblock %}
    </body>
</html>

